* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #084C61;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1400px;
    margin: 0 auto;
    padding: 2em;

    &__title {
      font-size: 1.5em;
      margin-bottom: 2rem;
      color: #618D9A;
    }

    &__inputs {
      display: flex;
      margin-bottom: 2rem;

      .form {
        margin: 0 2rem 2rem;

        .label-field {
          display: flex;
          flex-direction: column;
          align-items: center;

          .header-input {
            margin: 1rem 0;
            text-align: center;
            height: 2em;
            width: 40em;
            background-color: rgb(203, 215, 221);
            outline: none;
          }

          .btn-s {
            width: 5rem;
            height: 2em;
            font-size: 1em;
            border: none;
            border-radius: 10px;
            outline: none;
            background-color: #DE5F5A;
            font-weight: bold;
            transition: .3s;

            &:hover {
              background-color: #B4423D;
            }
          }
        }
      }
    }

    &__tasks {
      color: #618D9A;
      font-size: 1.5em;
      margin-bottom: 2rem;
    }

    &__stats {
      display: flex;

      .list-stats {
        margin: 0 2rem;
      }
    }
  }

  .todo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    flex-grow: 1;
    width: 1400px;
    margin: 0 auto 2rem;
    padding: 2rem;
    background-color: #4F6D7A;
    border-radius: 20px;

    &__title {
      text-align: center;
      padding: 1em;
      flex-basis: 45%;
      border-bottom: 1px solid gray;

    }

    &__section {
      flex-basis: 45%;
      padding: 2rem;
    }

    &__tasks,
    &__tasks-done {
      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        list-style: none;
        font-size: 1em;
        color: rgb(220, 234, 238);
        font-weight: bold;
      }

      .btn-container {
        display: flex;
        flex-basis: 30%;
        justify-content: space-around;

        .todo-btn {
          display: inline-block;
          padding: 0.2em 0.5em;
          font-size: 1em;
          border: none;
          border-radius: 5px;
          outline: none;
          background-color: #DE5F5A;
          font-weight: bold;
          transition: .3s;
        }

        .delete-btn {

          background-color: #DE5F5A;


          &:hover {
            background-color: #B4423D;
          }
        }

        .done-btn {
          background-color: rgb(90, 222, 101);

          &:hover {
            background-color: rgb(56, 138, 48);
          }
        }
      }

    }


  }

  .footer-info {
    height: 40px;
    background-color: #052731;
    text-align: center;

    .copyright {
      display: block;
      transform: translateY(50%);
      color: #618D9A;
    }
  }
}